header{
    margin: auto 20px auto 50px;
    display: flex;
    justify-content: center;
}

.search{
    padding: 50px;
}

main{
    margin: auto;
    display: flex;
    justify-content: center;
}

.gallery{
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
}