*{
    box-sizing: border-box;
}


header{
    margin: auto;
    
}

.search{
    display: flex;
    justify-content: center;
    padding: 50px;
    
    
}

.search input{
    min-width: 200px;
    width: 500px;
    height: 60px;;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(194, 194, 194);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.search input:focus{
    outline: none;
}

main{
    margin: 20px;
    
}

.gallery{
    display: grid;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 200px;
    justify-content: center;
}